{% load crispy_forms_tags %}
<html>
  <!-- CSS only -->
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
    crossorigin="anonymous"
  />
  <div class="container">
    <br/>
    <h2 style = "text-align: center">Add an Album</h2>
    <!--add an album form/ button-->
    <form method="POST">
      {% csrf_token %} {{ form | crispy}}
      <br/>
      <p style="text-align: center">
        <button type="submit" class="btn btn-primary">Submit</button>
      </p>
    </form>
    <!---end of add an album form/ button-->
  </div>
</html>
